---
import Layout from "@/layouts/Main.astro"

const pageConfig = {
    title: "Contact",
    description: "Contact page sososo",
}
---

<Layout pageConfig={pageConfig}>
    <h1>Contact</h1>
</Layout>
